@model IEnumerable<OneSWebBooking.Models.Computer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComputerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CounterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IpAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MacAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComputerCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComputerCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SwallowedCardCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.ComputerName)
            </td>
            <td>
                @Html.DisplayFor(model => item.CounterName)
            </td>
            <td>
                @Html.DisplayFor(model => item.IpAddress)
            </td>
            <td>
                @Html.DisplayFor(model => item.MacAddress)
            </td>
            <td>
                @Html.DisplayFor(model => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(model => item.ComputerCategoryId)
            </td>
            <td>
                @Html.DisplayFor(model => item.ComputerCategory)
            </td>
            <td>
                @Html.DisplayFor(model => item.AreaId)
            </td>
            <td>
                @Html.DisplayFor(model => item.Area)
            </td>
            <td>
                @Html.DisplayFor(model => item.PortType)
            </td>
            <td>
                @Html.DisplayFor(model => item.SwallowedCardCount)
            </td>
            <td>
                @Html.DisplayFor(model => item.Status)
            </td>
            <td>
                @Html.DisplayFor(model => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(model => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.ModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(model => item.ModifiedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
